/* Main Page Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers buttons horizontally */
    justify-content: center;
    height: 70vh; /* Sets the height of main section, adjust as needed */
    gap: 20px; /* Adds space between buttons */
    position: relative;
}

/* Button Styles */
button {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 200px; /* Adjust button width */
    margin-top: 30px;
}

button:hover {
    background-color: #45a049;
}

/* Sudoku Button Customization */
.game-button-sudoku {
    position: absolute;
    top: 20px; /* Distance from top of the main section */
}

/* Math Game Button Customization */
.game-button-mathgame {
    position: absolute;
    top: 100px; /* Adjust vertical position */
}

/* References Section Button Customization */
.references-section {
    position: absolute;
    top: 180px; /* Adjust vertical position */
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}
